<%unless current_user.blank? && current_user.type == "Player" -%>
<%else -%>
not signed in
<%end-%>
<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
  <a class="navbar-brand"><h4 class="white">Player Management</h4></a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item button">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"><%= link_to "Edit Profile", edit_team_path(current_user), class: "white btn btn-secondary" %><br></span>
        </button>
      </li>
      <li class="nav-item active button" >
        <button type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar" ><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "white btn btn-secondary" %> <br></span>
        </button>
      </li>
    </ul>
  </div>
</nav>
<div class="card text-center">
  <div class="card-header">
		<%= avatar_for_team(current_user) %>
	</div>
</div>
<div class="card-header bg-secondary text-center">
	<div class="container">
		<div class="white">
			<h3 class="row-center"> Name:- <%= current_user.name %></h3>
			<h3 class="row-center"> Amount:- <%= current_user.amount %></h3>
			<h3 class="row-center"> Email:- <%= current_user.email %></h3>
		</div><br>;
		<div class="white">
			<h4><%= current_user.body %></h4>
		</div>
	</div>
	<div class="navbar-brand">
		<%= link_to "My Players", team_player_path(current_user), class: "btn btn-primary" %>
	</div>
	<div class="navbar-brand">
		<%= link_to "All Players", players_path, class: "btn btn-primary" %>
	</div><br>
</div>